__pycache__/
*.py[cod]
*$py.class


mlartifacts/
mlruns/

exports/

front/.web
front/__pycache__/
front/prueba/
front/env_front/
front/assets/external/

.env
env_backend/
test/
env_dagss/
envapi/
env_laliga/
env_front/
env_back/
env_orch/
env_orch2/
env_orch22/
env_train/