__pycache__/
*.py[cod]
*$py.class

.env

envapi/
env_laliga/
mlartifacts/
mlruns/

env_backend/
test/
env_dagss/

front/.web
front/__pycache__/
front/prueba/
front/env_front/
front/assets/external/
env_front/
env_back/
